<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- 引入jquery -->
    <script type="text/javascript" th:src="@{../js/jquery1.9.1.min.js}"></script>


    <!-- 引入bootstrap的css -->
    <link  th:href="@{../js/bootstrap3/css/bootstrap.min.css} " rel="stylesheet" >
    <!-- 引入bootstrap-treeview的css -->
    <link  th:href="@{../js/bootstrap-treeview/bootstrap-treeview.min.css} " rel="stylesheet" >
    <!-- 引入bootstrap-addTabs的css -->
    <link   th:href="@{../js/bootStrap-addTabs/bootstrap.addtabs.css}" rel="stylesheet" >
    <!-- 引入bootstrap-table的css -->
    <link   th:href="@{../js/bootstrap-table/bootstrap-table.min.css} " rel="stylesheet" >
    <!-- 引入fileinput的css -->
    <link type="text/css" rel="stylesheet"  th:href="@{../js/fileinput/css/fileinput.css} " />





    <!-- 引入bootstrap的js-->
    <script type="text/javascript" th:src="@{../js/bootstrap3/js/bootstrap.min.js} "></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" th:src="@{../js/bootstrap-treeview/bootstrap-treeview.min.js} "></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" th:src="@{../js/bootStrap-addTabs/bootstrap.addtabs.min.js} "></script>
    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" th:src="@{../js/bootstrap-table/bootstrap-table.min.js} "></script>
    <script type="text/javascript" th:src="@{../js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" th:src="@{../js/bootstrap-bootbox/bootbox.js} "></script>
    <!-- 引入fileinput的js -->
    <script type="text/javascript" th:src="@{../js/fileinput/js/fileinput.min.js} "></script>
    <!--  引入fileinput的js -->
    <script type="text/javascript" th:src="@{../js/fileinput/js/locales/zh.js}"></script>


    <script type="text/javascript" th:src="@{../js/fileinput/themes/fa/theme.js} "></script>



    <script type="text/javascript" th:src="@{../js/uploadify/jquery.uploadify.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{../js/uploadify/uploadify.css}" />


    <style type="text/css">
        body {padding-top:100px;}
        .load{
            position: absolute;
            left: 10%;
            top: 28px;
            transform: translateX(-10%) translateY(-50%);
        }
        .load a{
            text-decoration: none;
            color: #ff33cc;
            margin: 0 150px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <!--定义在容器顶部  -->

</nav>
<!--=========栅格布局 ==============-->

<div class="row">
    <div class="col-md-3">
        <div id="treeDiv"></div>
    </div>
    <div class="col-md-9">
        <!--   选项卡    -->
        <!-- Nav tabs -->
        <ul id="tabs" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home"
                                                      aria-controls="home" role="tab" data-toggle="tab">欢迎</a></li>
        </ul>
        <!-- 选项卡  内容 -->
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" style="" class="tab-pane active " id="home">

                <form id="pro_from" class="form-inline">
                    <div class="form-group">
                        <label>用户名字</label>
                        <br>
                        <input type="text" class="form-control" name = "username" id="userNameId" placeholder="请输入用户名">
                    </div>

                    <br>

                    <button type="button" class="btn btn-success" onclick="queryData()">搜索</button>
                    <button type="button" class="btn btn-Warning" onclick="addUser()">新增</button>
                    <button type="button" class="btn btn-info" onclick="deleteById()">批删</button>

                </form>

                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span12" align="center">
                            <form role="form" id="formId">
                                <fieldset>

                                    <legend>登录</legend>

                                    <img src="../14.jpg" width="100" height="100"/>
                                    <br>
                                    <label>用户名</label>
                                    <input type="text" /><br>


                                    <label>密码</label>
                                    <input type="text" /><br>
                                    <label>验证码</label>
                                    <input type="text" /><br>
                                    <button type="submit" class="btn">提交</button>

                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <!--  表格 -->
                 <div id="show_file"></div>
                <img id="show_img" width="100" height="100"/>
                <input type="file" id="uploadImg" name="upFile"/>
                <input type="hidden" name='movie.movieImg' size="100"/>
             </div>
        </div>
    </div>

</div>
</body>
<script type="text/javascript">
    $(function(){
        showTree();
    });
    function showTree(){


        $.ajax({
            url:'../getAllTree',
            type : "post",
            dataType:"json",
            success:function(data){
                $("#treeDiv").treeview({
                    //data属性 树节点信息 json数组
                    data: data,
                    //tree默认展开的节点级别默认为2
                    levels: 0,
                    //含有子节点的图标
                    collapseIcon:'glyphicon glyphicon-star-empty',
                    //没有子节点的图标
                    emptyIcon:'glyphicon glyphicon-usd',
                    //背景颜色
                    //backColor: 'green'
                    //是否显示复选框
                    showCheckbox:true,
                    //是否允许选中多个节点
                    //multiSelect:true,
                    //启用节点的超链接功能默认为false,节点需指定href属性
                    enableLinks:false,
                    //事件当节点选中时
                    onNodeSelected:function(event,node){
                        console.log(node);
                        //动态向 nav-tabs 导航标签添加tab选项卡
                        //addTabs方法  add() 添加tab  close()关闭tab  closeAll() 关闭全部tab
                        if(null !=  node.url && node.pid != 0){
                            //子节点  url 不是空
                            $.addtabs.add({
                                id:node.id,
                                title:node.text,
                                url:node.url
                            })
                        }else if(node.pid != 0){
                            // 子节点  url 是空
                            $.addtabs.add({
                                id:node.id,
                                title:node.text,
                                url:"404.jsp"
                            })
                        }

                    }
                })
            },error : function (){
                alert("查询树失败");
            }
        })


    }
    $(function(){
        //1.JS  CSS导入没问题
        //2. 浏览器允许  flash插件加载
        //3. PC flash插件更新

        //AJAX 异步 上传文件 不保存数据
        $("#uploadImg").uploadify({

                //插件自带  不可忽略的参数flash插件
                'swf': '../js/uploadify/uploadify.swf',
                //前台请求后台的url 不可忽略的参数 ******
                'uploader': '../upload',
                //给div的进度条加背景 不可忽略******
                'queueID': 'show_file',
                //上传文件文件名 跟file标签 name值 保持一致******
                'fileObjName' : 'file',
                //给上传按钮设置文字
                'buttonText': '上传',
                //设置文件是否自动上传
                'auto': true,
                //可以同时选择多个文件 默认为true  不可忽略
                'multi': true,
                //上传后队列是否消失
                'removeCompleted': true,
                //队列消失时间
                'removeTimeout' : 1,
                //上传文件的个数，项目中一共可以上传文件的个数
                'uploadLimit':  -1,
                //上传文件的类型
                'fileTypeExts': '*.*',
                //成功回调函数 file：文件对象。data后台输出数据
                'onUploadSuccess':function(file,data,response){

                    //图片回显， 预览      prop("checked",true)  attr()
                    $("#show_img").attr("src","../upload/"+data)
                    // 隐藏域 文本框 回填 上传多个图片删掉这一行，用append拼接
                    $("[name='photo']").val("../upload/"+data);

                }
            }

        )
    });

</script>

</html>